In [2]:
import pandas as pd
xls = pd.ExcelFile("BGD.xlsx")
print(xls.sheet_names)  

# This will show a list of all sheet names

['Read_Me', 'Country tree cover loss', 'Country carbon data', 'Subnational 1 tree cover loss', 'Subnational 1 carbon data', 'Subnational 2 tree cover loss', 'Subnational 2 carbon data']

In [3]:
df1 = pd.read_excel(xls, sheet_name='Country tree cover loss')
df1

,country,threshold,area_ha,extent_2000_ha,extent_2010_ha,gain_2000-2020_ha,tc_loss_ha_2001,tc_loss_ha_2002,tc_loss_ha_2003,tc_loss_ha_2004,...,tc_loss_ha_2014,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023
0,Bangladesh,0,13938437,13938437,13938437,317862,4655,4089,2215,4414,...,15559,16504,28071,36457,25623,27686,27045,22097,17670,24299
1,Bangladesh,10,13938437,2660673,3171857,317862,4609,4026,2177,4332,...,13691,14349,24320,32070,22167,24846,24152,19684,15448,19680
2,Bangladesh,15,13938437,2282749,2658755,317862,4603,4017,2171,4317,...,13016,13644,23001,30503,21010,23657,22984,18763,14729,18868
3,Bangladesh,20,13938437,2194962,2592261,317862,4599,4011,2166,4306,...,12880,13466,22720,30188,20756,23443,22772,18578,14576,18678
4,Bangladesh,25,13938437,2076172,2498311,317862,4590,4002,2163,4290,...,12799,13387,22558,30000,20599,23327,22656,18481,14483,18550
5,Bangladesh,30,13938437,1938958,2216745,317862,4587,3995,2159,4283,...,12061,12604,21196,28377,19343,22079,21475,17587,13798,17787
6,Bangladesh,50,13938437,1522871,1504904,317862,4507,3866,2087,4077,...,11039,11338,19238,25939,17501,20410,19775,16073,12572,16184
7,Bangladesh,75,13938437,685584,606821,317862,3911,3124,1684,2998,...,6445,6518,11094,15179,9823,12169,11775,9228,7166,9611

In [4]:
df2 = pd.read_excel(xls, sheet_name='Country carbon data')
df2

,country,umd_tree_cover_density_2000__threshold,umd_tree_cover_extent_2000__ha,gfw_aboveground_carbon_stocks_2000__Mg_C,avg_gfw_aboveground_carbon_stocks_2000__Mg_C_ha-1,gfw_forest_carbon_gross_emissions__Mg_CO2e_yr-1,gfw_forest_carbon_gross_removals__Mg_CO2_yr-1,gfw_forest_carbon_net_flux__Mg_CO2e_yr-1,gfw_forest_carbon_gross_emissions_2001__Mg_CO2e,gfw_forest_carbon_gross_emissions_2002__Mg_CO2e,...,gfw_forest_carbon_gross_emissions_2014__Mg_CO2e,gfw_forest_carbon_gross_emissions_2015__Mg_CO2e,gfw_forest_carbon_gross_emissions_2016__Mg_CO2e,gfw_forest_carbon_gross_emissions_2017__Mg_CO2e,gfw_forest_carbon_gross_emissions_2018__Mg_CO2e,gfw_forest_carbon_gross_emissions_2019__Mg_CO2e,gfw_forest_carbon_gross_emissions_2020__Mg_CO2e,gfw_forest_carbon_gross_emissions_2021__Mg_CO2e,gfw_forest_carbon_gross_emissions_2022__Mg_CO2e,gfw_forest_carbon_gross_emissions_2023__Mg_CO2e
0,Bangladesh,0,13938437,221955077,16,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bangladesh,10,2660673,212892649,80,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bangladesh,15,2282749,193964458,85,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bangladesh,20,2194962,189071192,86,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bangladesh,25,2076172,182224033,88,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Bangladesh,30,1938958,174161146,90,5769116.0,19420362.0,-13651246.0,2293885.0,1924879.0,...,6248512.0,6680926.0,11411467.0,15582306.0,10566766.0,12024136.0,11764254.0,10060114.0,7954141.0,10887990.0
6,Bangladesh,50,1522871,146089219,96,5473216.0,18011989.0,-12538773.0,2269391.0,1888249.0,...,5897097.0,6253026.0,10716207.0,14719180.0,9905646.0,11366978.0,11092478.0,9493231.0,7483552.0,10348988.0
7,Bangladesh,75,685584,74514085,109,3739988.0,15082068.0,-11342080.0,2037373.0,1617276.0,...,3853107.0,4087737.0,6996473.0,9697955.0,6313218.0,7283221.0,7103692.0,6115904.0,4799059.0,7060035.0

In [5]:
df3 = pd.read_excel(xls, sheet_name='Subnational 1 tree cover loss')
df3

,country,subnational1,threshold,area_ha,extent_2000_ha,extent_2010_ha,gain_2000-2020_ha,tc_loss_ha_2001,tc_loss_ha_2002,tc_loss_ha_2003,...,tc_loss_ha_2014,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023
0,Bangladesh,Barisal,0,982748,982748,982748,28069,0,0,2,...,1,0,2,7,1,2,1,3,4,475
1,Bangladesh,Barisal,10,982748,150961,279072,28069,0,0,1,...,0,0,1,5,1,1,1,2,2,77
2,Bangladesh,Barisal,15,982748,132030,240079,28069,0,0,1,...,0,0,1,5,0,1,1,2,2,67
3,Bangladesh,Barisal,20,982748,127320,236513,28069,0,0,1,...,0,0,1,5,0,1,1,2,2,65
4,Bangladesh,Barisal,25,982748,116681,227365,28069,0,0,1,...,0,0,1,5,0,1,1,1,2,63
5,Bangladesh,Barisal,30,982748,102313,193399,28069,0,0,1,...,0,0,1,5,0,1,1,1,2,57
6,Bangladesh,Barisal,50,982748,57489,102408,28069,0,0,1,...,0,0,1,3,0,1,1,1,2,31
7,Bangladesh,Barisal,75,982748,347,5640,28069,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Bangladesh,Chittagong,0,3103429,3103429,3103429,106620,3847,3227,1998,...,14646,16077,26396,34368,23970,26571,25570,20593,16131,21580
9,Bangladesh,Chittagong,10,3103429,1495890,1587566,106620,3823,3198,1972,...,13240,14114,23541,31052,21428,24282,23448,18919,14662,18746
10,Bangladesh,Chittagong,15,3103429,1395518,1472283,106620,3820,3193,1969,...,12602,13424,22308,29580,20333,23139,22336,18052,14000,18041
11,Bangladesh,Chittagong,20,3103429,1365312,1451729,106620,3817,3190,1966,...,12486,13258,22072,29318,20119,22957,22163,17907,13882,17899
12,Bangladesh,Chittagong,25,3103429,1328974,1421163,106620,3816,3187,1965,...,12428,13189,21964,29184,20006,22867,22082,17841,13821,17828
13,Bangladesh,Chittagong,30,3103429,1267576,1330318,106620,3814,3185,1963,...,11718,12418,20665,27639,18806,21663,20957,17008,13187,17137
14,Bangladesh,Chittagong,50,3103429,1110036,1058285,106620,3786,3133,1917,...,10843,11235,18964,25530,17202,20167,19466,15730,12180,15812
15,Bangladesh,Chittagong,75,3103429,666790,590231,106620,3492,2737,1596,...,6430,6512,11067,15146,9800,12151,11751,9199,7123,9569
16,Bangladesh,Dhaka,0,3097287,3097287,3097287,66117,287,418,64,...,444,174,1062,1288,881,404,607,534,615,1172
17,Bangladesh,Dhaka,10,3097287,248007,461406,66117,280,407,61,...,238,104,447,547,344,181,268,276,263,376
18,Bangladesh,Dhaka,15,3097287,165634,333161,66117,279,405,60,...,221,100,391,485,317,167,247,257,238,320
19,Bangladesh,Dhaka,20,3097287,146362,318379,66117,279,405,60,...,212,94,361,452,295,158,230,242,223,295
20,Bangladesh,Dhaka,25,3097287,117776,296764,66117,277,403,59,...,197,89,321,415,267,145,211,229,207,262
21,Bangladesh,Dhaka,30,3097287,91690,214162,66117,276,402,59,...,183,85,281,370,240,132,190,207,185,229
22,Bangladesh,Dhaka,50,3097287,30766,46953,66117,261,373,51,...,88,38,118,167,107,60,88,105,96,120
23,Bangladesh,Dhaka,75,3097287,2900,684,66117,149,191,21,...,7,2,14,15,7,5,6,13,17,27
24,Bangladesh,Khulna,0,2077872,2077872,2077872,27503,11,11,2,...,6,1,0,0,38,15,57,45,25,127
25,Bangladesh,Khulna,10,2077872,470801,551980,27503,9,8,2,...,0,0,0,0,13,4,13,14,7,21
26,Bangladesh,Khulna,15,2077872,384095,408880,27503,9,8,2,...,0,0,0,0,12,3,10,12,6,17
27,Bangladesh,Khulna,20,2077872,365880,390950,27503,9,8,2,...,0,0,0,0,11,2,9,10,5,16
28,Bangladesh,Khulna,25,2077872,346458,373862,27503,9,8,2,...,0,0,0,0,9,2,7,10,5,14
29,Bangladesh,Khulna,30,2077872,331746,334492,27503,8,8,2,...,0,0,0,0,7,1,5,9,4,11
30,Bangladesh,Khulna,50,2077872,239311,233712,27503,5,5,1,...,0,0,0,0,1,0,1,4,3,3
31,Bangladesh,Khulna,75,2077872,2127,4504,27503,1,0,0,...,0,0,0,0,0,0,0,0,0,0
32,Bangladesh,Rajshahi,0,1821149,1821149,1821149,34015,50,40,10,...,7,0,9,4,15,13,22,23,26,47
33,Bangladesh,Rajshahi,10,1821149,42917,22462,34015,46,35,9,...,0,0,4,1,3,4,1,1,3,7
34,Bangladesh,Rajshahi,15,1821149,18696,6721,34015,46,34,9,...,0,0,3,1,2,3,1,1,3,6
35,Bangladesh,Rajshahi,20,1821149,15664,5680,34015,46,34,8,...,0,0,1,1,2,2,1,0,3,6
36,Bangladesh,Rajshahi,25,1821149,10139,4783,34015,43,32,8,...,0,0,0,1,2,2,0,0,2,5
37,Bangladesh,Rajshahi,30,1821149,7467,1826,34015,43,32,8,...,0,0,0,1,2,2,0,0,2,5
38,Bangladesh,Rajshahi,50,1821149,840,202,34015,34,25,7,...,0,0,0,0,0,0,0,0,1,2
39,Bangladesh,Rajshahi,75,1821149,183,17,34015,12,4,1,...,0,0,0,0,0,0,0,0,0,0
40,Bangladesh,Rangpur,0,1621049,1621049,1621049,30486,80,78,6,...,190,22,135,62,114,68,126,188,149,239
41,Bangladesh,Rangpur,10,1621049,52093,39311,30486,75,72,5,...,29,3,42,8,17,7,18,22,21,37
42,Bangladesh,Rangpur,15,1621049,22686,14595,30486,74,71,4,...,19,2,34,5,11,4,12,16,15,26
43,Bangladesh,Rangpur,20,1621049,19470,12848,30486,74,70,4,...,16,2,32,4,10,4,10,14,13,25
44,Bangladesh,Rangpur,25,1621049,13982,11254,30486,72,69,4,...,13,2,29,3,8,3,9,13,11,22
45,Bangladesh,Rangpur,30,1621049,9722,5197,30486,72,68,4,...,9,1,27,3,6,2,6,10,8,17
46,Bangladesh,Rangpur,50,1621049,1259,547,30486,65,55,1,...,3,1,10,1,3,0,2,3,3,5
47,Bangladesh,Rangpur,75,1621049,189,37,30486,27,24,1,...,1,0,3,0,0,0,0,1,1,1
48,Bangladesh,Sylhet,0,1234904,1234904,1234904,25051,379,315,133,...,265,231,467,727,604,613,662,711,721,659
49,Bangladesh,Sylhet,10,1234904,200003,230060,25051,376,306,127,...,183,128,285,457,361,368,402,450,489,415
50,Bangladesh,Sylhet,15,1234904,164091,183037,25051,375,304,125,...,173,118,265,427,335,338,376,425,465,391
51,Bangladesh,Sylhet,20,1234904,154955,176162,25051,374,303,124,...,166,111,253,408,320,319,358,403,448,372
52,Bangladesh,Sylhet,25,1234904,142162,163119,25051,374,301,124,...,160,107,243,392,307,307,345,387,435,357
53,Bangladesh,Sylhet,30,1234904,128443,137352,25051,373,299,123,...,150,99,222,359,282,278,316,352,409,330
54,Bangladesh,Sylhet,50,1234904,83170,62797,25051,355,275,109,...,105,64,146,239,187,181,217,231,287,211
55,Bangladesh,Sylhet,75,1234904,13047,5708,25051,231,168,65,...,7,4,10,18,17,13,18,15,25,15

In [6]:
df_filtered1 = df3[~df3['subnational1'].isin(['Chittagong', 'Barisal', 'Sylhet', 'Rangpur', 'Rajshahi', 'Khulna'])]

In [7]:
df_filtered1

,country,subnational1,threshold,area_ha,extent_2000_ha,extent_2010_ha,gain_2000-2020_ha,tc_loss_ha_2001,tc_loss_ha_2002,tc_loss_ha_2003,...,tc_loss_ha_2014,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023
16,Bangladesh,Dhaka,0,3097287,3097287,3097287,66117,287,418,64,...,444,174,1062,1288,881,404,607,534,615,1172
17,Bangladesh,Dhaka,10,3097287,248007,461406,66117,280,407,61,...,238,104,447,547,344,181,268,276,263,376
18,Bangladesh,Dhaka,15,3097287,165634,333161,66117,279,405,60,...,221,100,391,485,317,167,247,257,238,320
19,Bangladesh,Dhaka,20,3097287,146362,318379,66117,279,405,60,...,212,94,361,452,295,158,230,242,223,295
20,Bangladesh,Dhaka,25,3097287,117776,296764,66117,277,403,59,...,197,89,321,415,267,145,211,229,207,262
21,Bangladesh,Dhaka,30,3097287,91690,214162,66117,276,402,59,...,183,85,281,370,240,132,190,207,185,229
22,Bangladesh,Dhaka,50,3097287,30766,46953,66117,261,373,51,...,88,38,118,167,107,60,88,105,96,120
23,Bangladesh,Dhaka,75,3097287,2900,684,66117,149,191,21,...,7,2,14,15,7,5,6,13,17,27

In [8]:
#
df4 = pd.read_excel(xls, sheet_name='Subnational 1 carbon data')
df4

,country,subnational1,umd_tree_cover_density_2000__threshold,umd_tree_cover_extent_2000__ha,gfw_aboveground_carbon_stocks_2000__Mg_C,avg_gfw_aboveground_carbon_stocks_2000__Mg_C_ha-1,gfw_forest_carbon_gross_emissions__Mg_CO2e_yr-1,gfw_forest_carbon_gross_removals__Mg_CO2_yr-1,gfw_forest_carbon_net_flux__Mg_CO2e_yr-1,gfw_forest_carbon_gross_emissions_2001__Mg_CO2e,...,gfw_forest_carbon_gross_emissions_2014__Mg_CO2e,gfw_forest_carbon_gross_emissions_2015__Mg_CO2e,gfw_forest_carbon_gross_emissions_2016__Mg_CO2e,gfw_forest_carbon_gross_emissions_2017__Mg_CO2e,gfw_forest_carbon_gross_emissions_2018__Mg_CO2e,gfw_forest_carbon_gross_emissions_2019__Mg_CO2e,gfw_forest_carbon_gross_emissions_2020__Mg_CO2e,gfw_forest_carbon_gross_emissions_2021__Mg_CO2e,gfw_forest_carbon_gross_emissions_2022__Mg_CO2e,gfw_forest_carbon_gross_emissions_2023__Mg_CO2e
0,Bangladesh,Barisal,0,982748,13044653,13,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bangladesh,Barisal,10,150961,10446904,69,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bangladesh,Barisal,15,132030,9391445,71,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bangladesh,Barisal,20,127320,9113471,72,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bangladesh,Barisal,25,116681,8438284,72,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Bangladesh,Barisal,30,102313,7570477,74,8175.0,758859.0,-750684.0,220.0,...,137.0,0.0,294.0,849.0,193.0,389.0,524.0,396.0,859.0,171570.0
6,Bangladesh,Barisal,50,57489,4388854,76,7692.0,676754.0,-669062.0,201.0,...,137.0,0.0,182.0,543.0,140.0,285.0,463.0,231.0,693.0,163546.0
7,Bangladesh,Barisal,75,347,29365,85,6892.0,569726.0,-562834.0,172.0,...,112.0,0.0,0.0,0.0,0.0,0.0,27.0,0.0,0.0,152783.0
8,Bangladesh,Chittagong,0,3103429,135864086,44,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Bangladesh,Chittagong,10,1495890,134351993,90,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Bangladesh,Chittagong,15,1395518,129205455,93,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Bangladesh,Chittagong,20,1365312,127500792,93,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Bangladesh,Chittagong,25,1328974,125408452,94,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Bangladesh,Chittagong,30,1267576,121821441,96,5466993.0,7475543.0,-2008550.0,1971464.0,...,6098122.0,6591912.0,11169668.0,15248744.0,10314414.0,11834350.0,11523006.0,9742819.0,7595569.0,10302885.0
14,Bangladesh,Chittagong,50,1110036,111388780,100,5221721.0,6652865.0,-1431144.0,1964431.0,...,5796578.0,6194789.0,10564449.0,14499959.0,9739739.0,11242764.0,10927980.0,9258963.0,7204092.0,9859039.0
15,Bangladesh,Chittagong,75,666790,72778777,109,3610734.0,4303763.0,-693029.0,1850911.0,...,3828168.0,4073569.0,6948747.0,9639997.0,6266726.0,7260479.0,7065152.0,6019900.0,4676932.0,6712838.0
16,Bangladesh,Dhaka,0,3097287,15230388,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Bangladesh,Dhaka,10,248007,14219174,57,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Bangladesh,Dhaka,15,165634,10101692,61,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Bangladesh,Dhaka,20,146362,9008852,62,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Bangladesh,Dhaka,25,117776,7378176,63,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Bangladesh,Dhaka,30,91690,5887138,64,107104.0,620496.0,-513392.0,113377.0,...,74734.0,37262.0,117954.0,154981.0,106262.0,54515.0,76376.0,101231.0,115768.0,178015.0
22,Bangladesh,Dhaka,50,30766,2142933,70,84727.0,453800.0,-369072.0,108358.0,...,42912.0,19074.0,62590.0,86232.0,59281.0,28508.0,41239.0,66670.0,87862.0,146209.0
23,Bangladesh,Dhaka,75,2900,246213,85,41585.0,384206.0,-342621.0,64356.0,...,11266.0,2789.0,24134.0,27095.0,18734.0,5236.0,9420.0,30367.0,59368.0,113086.0
24,Bangladesh,Khulna,0,2077872,37399202,18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Bangladesh,Khulna,10,470801,34544027,73,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bangladesh,Khulna,15,384095,30724407,80,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Bangladesh,Khulna,20,365880,29789552,81,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Bangladesh,Khulna,25,346458,28735375,83,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Bangladesh,Khulna,30,331746,27809044,84,6568.0,9357752.0,-9351184.0,2606.0,...,75.0,54.0,0.0,0.0,2784.0,529.0,2499.0,13193.0,7076.0,29810.0
30,Bangladesh,Khulna,50,239311,21013535,88,5815.0,9309392.0,-9303577.0,1699.0,...,75.0,0.0,0.0,0.0,709.0,73.0,1152.0,12387.0,6759.0,27391.0
31,Bangladesh,Khulna,75,2127,177871,84,5229.0,9278423.0,-9273194.0,421.0,...,75.0,0.0,0.0,0.0,296.0,47.0,605.0,12323.0,6582.0,26888.0
32,Bangladesh,Rajshahi,0,1821149,2702481,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Bangladesh,Rajshahi,10,42917,2525488,59,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Bangladesh,Rajshahi,15,18696,1167852,62,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Bangladesh,Rajshahi,20,15664,981787,63,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Bangladesh,Rajshahi,25,10139,650219,64,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Bangladesh,Rajshahi,30,7467,486125,65,5574.0,194930.0,-189356.0,17632.0,...,48.0,0.0,137.0,241.0,693.0,591.0,82.0,1385.0,2303.0,3652.0
38,Bangladesh,Rajshahi,50,840,59499,71,4273.0,181659.0,-177386.0,14425.0,...,0.0,0.0,112.0,29.0,115.0,56.0,32.0,1294.0,1748.0,2594.0
39,Bangladesh,Rajshahi,75,183,12960,71,1356.0,180617.0,-179262.0,5270.0,...,0.0,0.0,56.0,0.0,87.0,34.0,32.0,1294.0,1471.0,1915.0
40,Bangladesh,Rangpur,0,1621049,3163717,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Bangladesh,Rangpur,10,52093,2996711,58,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Bangladesh,Rangpur,15,22686,1433306,63,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Bangladesh,Rangpur,20,19470,1243965,64,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Bangladesh,Rangpur,25,13982,913922,65,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Bangladesh,Rangpur,30,9722,654596,67,9745.0,185183.0,-175438.0,28644.0,...,5496.0,752.0,12051.0,1383.0,2794.0,753.0,2500.0,13154.0,12743.0,16121.0
46,Bangladesh,Rangpur,50,1259,103883,82,6960.0,167707.0,-160747.0,26380.0,...,3588.0,635.0,5230.0,575.0,1782.0,94.0,981.0,10471.0,10935.0,11573.0
47,Bangladesh,Rangpur,75,189,17991,95,3631.0,165738.0,-162108.0,11514.0,...,2670.0,292.0,2109.0,409.0,500.0,30.0,331.0,9427.0,9771.0,9634.0
48,Bangladesh,Sylhet,0,1234904,14550551,12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Bangladesh,Sylhet,10,200003,13808352,69,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Bangladesh,Sylhet,15,164091,11940301,73,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Bangladesh,Sylhet,20,154955,11432774,74,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Bangladesh,Sylhet,25,142162,10699605,75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Bangladesh,Sylhet,30,128443,9932324,77,164956.0,827599.0,-662643.0,159941.0,...,69899.0,50946.0,111364.0,176107.0,139625.0,133010.0,159268.0,187936.0,219822.0,185935.0
54,Bangladesh,Sylhet,50,83170,6991734,84,142029.0,569813.0,-427784.0,153898.0,...,53807.0,38527.0,83643.0,131842.0,103880.0,95198.0,120633.0,143214.0,171463.0,138636.0
55,Bangladesh,Sylhet,75,13047,1250908,96,70563.0,199596.0,-129033.0,104730.0,...,10815.0,11087.0,21427.0,30453.0,26873.0,17396.0,28124.0,42593.0,44935.0,42891.0

In [9]:
df_filtered2 = df4[~df4['subnational1'].isin(['Chittagong', 'Barisal', 'Sylhet', 'Rangpur', 'Rajshahi', 'Khulna'])]

In [10]:
df_filtered2

,country,subnational1,umd_tree_cover_density_2000__threshold,umd_tree_cover_extent_2000__ha,gfw_aboveground_carbon_stocks_2000__Mg_C,avg_gfw_aboveground_carbon_stocks_2000__Mg_C_ha-1,gfw_forest_carbon_gross_emissions__Mg_CO2e_yr-1,gfw_forest_carbon_gross_removals__Mg_CO2_yr-1,gfw_forest_carbon_net_flux__Mg_CO2e_yr-1,gfw_forest_carbon_gross_emissions_2001__Mg_CO2e,...,gfw_forest_carbon_gross_emissions_2014__Mg_CO2e,gfw_forest_carbon_gross_emissions_2015__Mg_CO2e,gfw_forest_carbon_gross_emissions_2016__Mg_CO2e,gfw_forest_carbon_gross_emissions_2017__Mg_CO2e,gfw_forest_carbon_gross_emissions_2018__Mg_CO2e,gfw_forest_carbon_gross_emissions_2019__Mg_CO2e,gfw_forest_carbon_gross_emissions_2020__Mg_CO2e,gfw_forest_carbon_gross_emissions_2021__Mg_CO2e,gfw_forest_carbon_gross_emissions_2022__Mg_CO2e,gfw_forest_carbon_gross_emissions_2023__Mg_CO2e
16,Bangladesh,Dhaka,0,3097287,15230388,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Bangladesh,Dhaka,10,248007,14219174,57,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Bangladesh,Dhaka,15,165634,10101692,61,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Bangladesh,Dhaka,20,146362,9008852,62,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Bangladesh,Dhaka,25,117776,7378176,63,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Bangladesh,Dhaka,30,91690,5887138,64,107104.0,620496.0,-513392.0,113377.0,...,74734.0,37262.0,117954.0,154981.0,106262.0,54515.0,76376.0,101231.0,115768.0,178015.0
22,Bangladesh,Dhaka,50,30766,2142933,70,84727.0,453800.0,-369072.0,108358.0,...,42912.0,19074.0,62590.0,86232.0,59281.0,28508.0,41239.0,66670.0,87862.0,146209.0
23,Bangladesh,Dhaka,75,2900,246213,85,41585.0,384206.0,-342621.0,64356.0,...,11266.0,2789.0,24134.0,27095.0,18734.0,5236.0,9420.0,30367.0,59368.0,113086.0

df_filtered = df[~df['subnational1'].isin(['Chittagong', 'Barisal', 'Sylhet', 'Rangpur', 'Rajshahi', 'Khulna'])]
df_filtered

In [23]:
df5 = pd.read_excel(xls, sheet_name='Subnational 2 tree cover loss')
df5

,country,subnational1,subnational2,threshold,area_ha,extent_2000_ha,extent_2010_ha,gain_2000-2020_ha,tc_loss_ha_2001,tc_loss_ha_2002,...,tc_loss_ha_2014,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023
0,Bangladesh,Barisal,Barguna,0,131509,131509,131509,2543,0,0,...,0,0,0,0,0,0,0,0,1,48
1,Bangladesh,Barisal,Barguna,10,131509,8972,17835,2543,0,0,...,0,0,0,0,0,0,0,0,0,5
2,Bangladesh,Barisal,Barguna,15,131509,6927,13580,2543,0,0,...,0,0,0,0,0,0,0,0,0,3
3,Bangladesh,Barisal,Barguna,20,131509,6660,13408,2543,0,0,...,0,0,0,0,0,0,0,0,0,3
4,Bangladesh,Barisal,Barguna,25,131509,6041,12734,2543,0,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,Bangladesh,Sylhet,Sylhet,20,341070,37243,47497,7789,33,23,...,16,26,46,46,30,32,33,29,28,34
508,Bangladesh,Sylhet,Sylhet,25,341070,32821,44155,7789,33,23,...,15,25,45,43,29,30,32,27,27,33
509,Bangladesh,Sylhet,Sylhet,30,341070,28787,36334,7789,32,23,...,14,23,41,39,26,26,28,25,23,30
510,Bangladesh,Sylhet,Sylhet,50,341070,13408,14224,7789,27,21,...,8,16,29,24,15,12,18,15,9,17
511,Bangladesh,Sylhet,Sylhet,75,341070,479,767,7789,12,8,...,0,0,1,1,0,1,0,0,0,0

In [24]:
unique_values = df5['subnational1'].unique()

print(unique_values)

['Barisal' 'Chittagong' 'Dhaka' 'Khulna' 'Rajshahi' 'Rangpur' 'Sylhet']

In [25]:
df_filtered3 = df5[~df5['subnational1'].isin(['Chittagong', 'Barisal', 'Sylhet', 'Rangpur', 'Rajshahi', 'Khulna'])]

In [26]:
df_filtered3

,country,subnational1,subnational2,threshold,area_ha,extent_2000_ha,extent_2010_ha,gain_2000-2020_ha,tc_loss_ha_2001,tc_loss_ha_2002,...,tc_loss_ha_2014,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023
136,Bangladesh,Dhaka,Dhaka,0,147608,147608,147608,3938,7,6,...,1,0,1,1,0,0,0,0,0,15
137,Bangladesh,Dhaka,Dhaka,10,147608,9624,12470,3938,6,5,...,0,0,0,0,0,0,0,0,0,1
138,Bangladesh,Dhaka,Dhaka,15,147608,5544,7888,3938,6,5,...,0,0,0,0,0,0,0,0,0,0
139,Bangladesh,Dhaka,Dhaka,20,147608,4650,7275,3938,6,5,...,0,0,0,0,0,0,0,0,0,0
140,Bangladesh,Dhaka,Dhaka,25,147608,3319,6567,3938,6,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,Bangladesh,Dhaka,Tangail,20,336637,22030,31385,12337,36,170,...,90,14,184,197,64,30,33,40,97,192
268,Bangladesh,Dhaka,Tangail,25,336637,18715,29854,12337,35,169,...,82,12,163,177,55,25,29,38,89,170
269,Bangladesh,Dhaka,Tangail,30,336637,15457,21329,12337,35,169,...,74,11,142,152,47,22,24,32,82,154
270,Bangladesh,Dhaka,Tangail,50,336637,7113,5354,12337,33,160,...,35,4,56,63,22,10,10,19,51,87
271,Bangladesh,Dhaka,Tangail,75,336637,1188,42,12337,18,98,...,4,1,10,9,4,2,2,7,15,23

In [29]:
unique_values2 = df_filtered3['subnational2'].unique()

print(unique_values2)

['Dhaka' 'Faridpur' 'Gazipur' 'Gopalganj' 'Jamalpur' 'Kishoreganj'
 'Madaripur' 'Manikganj' 'Munshiganj' 'Mymensingh' 'Narayanganj'
 'Narsingdi' 'Netrakona' 'Rajbari' 'Shariatpur' 'Sherpur' 'Tangail']

In [30]:
df_filtered4 = df_filtered3[~df_filtered3['subnational2'].isin(['Faridpur','Gazipur','Gopalganj','Jamalpur','Kishoreganj','Madaripur','Manikganj','Munshiganj','Mymensingh','Narayanganj'
,'Narsingdi','Netrakona','Rajbari','Shariatpur','Sherpur','Tangail'])]

In [31]:
df_filtered4

,country,subnational1,subnational2,threshold,area_ha,extent_2000_ha,extent_2010_ha,gain_2000-2020_ha,tc_loss_ha_2001,tc_loss_ha_2002,...,tc_loss_ha_2014,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023
136,Bangladesh,Dhaka,Dhaka,0,147608,147608,147608,3938,7,6,...,1,0,1,1,0,0,0,0,0,15
137,Bangladesh,Dhaka,Dhaka,10,147608,9624,12470,3938,6,5,...,0,0,0,0,0,0,0,0,0,1
138,Bangladesh,Dhaka,Dhaka,15,147608,5544,7888,3938,6,5,...,0,0,0,0,0,0,0,0,0,0
139,Bangladesh,Dhaka,Dhaka,20,147608,4650,7275,3938,6,5,...,0,0,0,0,0,0,0,0,0,0
140,Bangladesh,Dhaka,Dhaka,25,147608,3319,6567,3938,6,5,...,0,0,0,0,0,0,0,0,0,0
141,Bangladesh,Dhaka,Dhaka,30,147608,2509,4552,3938,6,5,...,0,0,0,0,0,0,0,0,0,0
142,Bangladesh,Dhaka,Dhaka,50,147608,455,837,3938,4,3,...,0,0,0,0,0,0,0,0,0,0
143,Bangladesh,Dhaka,Dhaka,75,147608,61,12,3938,1,1,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df6 = pd.read_excel(xls, sheet_name='Subnational 2 carbon data')
df6

,country,subnational1,subnational2,umd_tree_cover_density_2000__threshold,umd_tree_cover_extent_2000__ha,gfw_aboveground_carbon_stocks_2000__Mg_C,avg_gfw_aboveground_carbon_stocks_2000__Mg_C_ha-1,gfw_forest_carbon_gross_emissions__Mg_CO2e_yr-1,gfw_forest_carbon_gross_removals__Mg_CO2_yr-1,gfw_forest_carbon_net_flux__Mg_CO2e_yr-1,...,gfw_forest_carbon_gross_emissions_2014__Mg_CO2e,gfw_forest_carbon_gross_emissions_2015__Mg_CO2e,gfw_forest_carbon_gross_emissions_2016__Mg_CO2e,gfw_forest_carbon_gross_emissions_2017__Mg_CO2e,gfw_forest_carbon_gross_emissions_2018__Mg_CO2e,gfw_forest_carbon_gross_emissions_2019__Mg_CO2e,gfw_forest_carbon_gross_emissions_2020__Mg_CO2e,gfw_forest_carbon_gross_emissions_2021__Mg_CO2e,gfw_forest_carbon_gross_emissions_2022__Mg_CO2e,gfw_forest_carbon_gross_emissions_2023__Mg_CO2e
0,Bangladesh,Barisal,Barguna,0,131509,1181673,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bangladesh,Barisal,Barguna,10,8972,801152,89,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bangladesh,Barisal,Barguna,15,6927,588651,85,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bangladesh,Barisal,Barguna,20,6660,568916,85,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bangladesh,Barisal,Barguna,25,6041,523442,87,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,Bangladesh,Sylhet,Sylhet,20,37243,2657806,71,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508,Bangladesh,Sylhet,Sylhet,25,32821,2392932,73,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,Bangladesh,Sylhet,Sylhet,30,28787,2151753,75,14227.0,211521.0,-197294.0,...,6493.0,11814.0,19965.0,19159.0,12539.0,12630.0,13541.0,13318.0,13728.0,15245.0
510,Bangladesh,Sylhet,Sylhet,50,13408,1091668,81,11023.0,121892.0,-110869.0,...,4230.0,8890.0,15183.0,13056.0,8009.0,7034.0,9314.0,9237.0,7601.0,9522.0
511,Bangladesh,Sylhet,Sylhet,75,479,42464,89,3547.0,47745.0,-44199.0,...,622.0,1795.0,2242.0,2321.0,1692.0,1454.0,1231.0,2239.0,2936.0,1482.0

In [33]:
df_filtered4 = df6[~df6['subnational1'].isin(['Chittagong', 'Barisal', 'Sylhet', 'Rangpur', 'Rajshahi', 'Khulna'])]

In [34]:
df_filtered4

,country,subnational1,subnational2,umd_tree_cover_density_2000__threshold,umd_tree_cover_extent_2000__ha,gfw_aboveground_carbon_stocks_2000__Mg_C,avg_gfw_aboveground_carbon_stocks_2000__Mg_C_ha-1,gfw_forest_carbon_gross_emissions__Mg_CO2e_yr-1,gfw_forest_carbon_gross_removals__Mg_CO2_yr-1,gfw_forest_carbon_net_flux__Mg_CO2e_yr-1,...,gfw_forest_carbon_gross_emissions_2014__Mg_CO2e,gfw_forest_carbon_gross_emissions_2015__Mg_CO2e,gfw_forest_carbon_gross_emissions_2016__Mg_CO2e,gfw_forest_carbon_gross_emissions_2017__Mg_CO2e,gfw_forest_carbon_gross_emissions_2018__Mg_CO2e,gfw_forest_carbon_gross_emissions_2019__Mg_CO2e,gfw_forest_carbon_gross_emissions_2020__Mg_CO2e,gfw_forest_carbon_gross_emissions_2021__Mg_CO2e,gfw_forest_carbon_gross_emissions_2022__Mg_CO2e,gfw_forest_carbon_gross_emissions_2023__Mg_CO2e
136,Bangladesh,Dhaka,Dhaka,0,147608,578489,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Bangladesh,Dhaka,Dhaka,10,9624,531979,55,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Bangladesh,Dhaka,Dhaka,15,5544,328641,59,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Bangladesh,Dhaka,Dhaka,20,4650,278204,60,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Bangladesh,Dhaka,Dhaka,25,3319,202125,61,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,Bangladesh,Dhaka,Tangail,20,22030,1452514,66,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,Bangladesh,Dhaka,Tangail,25,18715,1259424,67,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Bangladesh,Dhaka,Tangail,30,15457,1068729,69,32827.0,98428.0,-65601.0,...,30416.0,4530.0,56584.0,62248.0,22846.0,9548.0,11910.0,24741.0,66243.0,110197.0
270,Bangladesh,Dhaka,Tangail,50,7113,538103,76,26311.0,83057.0,-56746.0,...,17223.0,2123.0,27414.0,33304.0,15014.0,5565.0,7128.0,20683.0,57741.0,90761.0
271,Bangladesh,Dhaka,Tangail,75,1188,100601,85,15768.0,72492.0,-56724.0,...,6062.0,877.0,10767.0,13902.0,8385.0,2470.0,4213.0,16348.0,45559.0,68328.0

In [35]:
unique_values3 = df_filtered4['subnational2'].unique()

print(unique_values3)

['Dhaka' 'Faridpur' 'Gazipur' 'Gopalganj' 'Jamalpur' 'Kishoreganj'
 'Madaripur' 'Manikganj' 'Munshiganj' 'Mymensingh' 'Narayanganj'
 'Narsingdi' 'Netrakona' 'Rajbari' 'Shariatpur' 'Sherpur' 'Tangail']

In [36]:
df_filtered5 = df_filtered4[~df_filtered4['subnational2'].isin(['Faridpur','Gazipur','Gopalganj','Jamalpur','Kishoreganj','Madaripur','Manikganj','Munshiganj','Mymensingh','Narayanganj'
,'Narsingdi','Netrakona','Rajbari','Shariatpur','Sherpur','Tangail'])]

In [37]:
df_filtered5

,country,subnational1,subnational2,umd_tree_cover_density_2000__threshold,umd_tree_cover_extent_2000__ha,gfw_aboveground_carbon_stocks_2000__Mg_C,avg_gfw_aboveground_carbon_stocks_2000__Mg_C_ha-1,gfw_forest_carbon_gross_emissions__Mg_CO2e_yr-1,gfw_forest_carbon_gross_removals__Mg_CO2_yr-1,gfw_forest_carbon_net_flux__Mg_CO2e_yr-1,...,gfw_forest_carbon_gross_emissions_2014__Mg_CO2e,gfw_forest_carbon_gross_emissions_2015__Mg_CO2e,gfw_forest_carbon_gross_emissions_2016__Mg_CO2e,gfw_forest_carbon_gross_emissions_2017__Mg_CO2e,gfw_forest_carbon_gross_emissions_2018__Mg_CO2e,gfw_forest_carbon_gross_emissions_2019__Mg_CO2e,gfw_forest_carbon_gross_emissions_2020__Mg_CO2e,gfw_forest_carbon_gross_emissions_2021__Mg_CO2e,gfw_forest_carbon_gross_emissions_2022__Mg_CO2e,gfw_forest_carbon_gross_emissions_2023__Mg_CO2e
136,Bangladesh,Dhaka,Dhaka,0,147608,578489,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Bangladesh,Dhaka,Dhaka,10,9624,531979,55,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Bangladesh,Dhaka,Dhaka,15,5544,328641,59,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Bangladesh,Dhaka,Dhaka,20,4650,278204,60,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Bangladesh,Dhaka,Dhaka,25,3319,202125,61,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Bangladesh,Dhaka,Dhaka,30,2509,155465,62,1929.0,27335.0,-25407.0,...,21.0,0.0,0.0,72.0,0.0,0.0,51.0,89.0,0.0,1305.0
142,Bangladesh,Dhaka,Dhaka,50,455,29153,64,1259.0,23369.0,-22110.0,...,0.0,0.0,0.0,72.0,0.0,0.0,51.0,0.0,0.0,1260.0
143,Bangladesh,Dhaka,Dhaka,75,61,3598,59,523.0,22654.0,-22131.0,...,0.0,0.0,0.0,72.0,0.0,0.0,51.0,0.0,0.0,1260.0